<div class="col-lg-3">
  <div class="hero__categories">
    <div class="hero__categories__all" style="background-color: purple;">
      <i class="fa fa-bars"></i>
      <span>Top Categories</span>
    </div>

    <ul>
      {% for item in cats_nav %}
      <li>
        <a href="{% url 'core:category-view' item.slug %}"
          ><small> {{ item.name }}</small></a
        >
      </li>
      {% endfor %}
    </ul>
  </div>
  <table
    border="0"
    cellspacing="0"
    cellpadding="0"
    style="border-collapse: collapse; width: 100%;"
  >
    <tr>
      <td
        style="
          background-color: #4267b2;
          border-radius: 3px;
          text-align: center;
        "
      >
        <a
          style="
            color: #3b5998;
            text-decoration: none;
            cursor: pointer;
            width: 100%;
          "
          href="https://www.facebook.com/plugins/group/join/popup/?group_id=2693927037547637&amp;source=email_campaign_plugin"
          target="_blank"
          rel="noopener"
        >
          <table
            border="0"
            cellspacing="0"
            cellpadding="3"
            align="center"
            style="border-collapse: collapse;"
          >
            <tr>
              <td
                style="
                  border-bottom: 3px solid #4267b2;
                  border-top: 3px solid #4267b2;
                  color: #fff;
                  font-family: Helvetica, Arial, sans-serif;
                  font-size: 12px;
                  font-weight: bold;
                "
              >
                Join facebook Group
              </td>
            </tr>
          </table>
        </a>
      </td>
    </tr>
  </table>
</div>
