{% extends "visitor/base.html" %} {% block page_content %} {% load static %}



<div class="breadcrumb__text" style="
        width: 85%;
        margin-left: 6%;
        margin-right: 10%;
        padding-left: inherit;
      ">
  <h3 style="
          width: 100%;
          background-image: linear-gradient(
            to right,
            rgba(18, 180, 209, 0.6),
            rgba(0, 0, 0, 0.7)
          );
          text-align: center;
        ">
    <b style="color: white; padding: center;"> {{shop.title}}</b>
  </h3>
</div>

<div class="container" s <hr style="color: black; background-color: black;" />
</div>
<div class="card w-100" style="border: transparent;">
  <div class="card-body">
    <div class="col-12" style="text-align: center; padding-top: 0%;">
      <a style="
                    text-transform: uppercase;
                    text-align: justify;
                    padding-left: 10px;
                    font-size: 1em;
                  "><span style="color: black;"><b> Category from {{ shop}} </b> </span>
      </a>

      <hr style="color: black; background-color: black;" />
    </div>
    <div class="col-12">
      <div class="container">
        {% for item in category %}

        <a class="badge badge-light m-1" href="{% url 'core:category-view' item.slug shop.slug %} ">
          <b style=" font-size:medium;">{{ item.name }} </b>
        </a>

        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="card w-100" style="border:transparent">
  <div class="card-body">
    <div class="col-12" style="text-align: center; padding-top: 0%;">
      <a style="
                text-transform: uppercase;
                text-align: justify;
                padding-left: 10px;
                font-size: 1em;
              "><span style="color: black;"><b> {{this_cat}} from {{ shop}} </b>
        </span>
      </a>
    </div>
    <hr style="color: black; background-color: black;" />

    <div class="col-12 col-sm-10 col-md-10 col-xl-10 p-3">
      <div class=" container" style="text-align: center;">



        <div class="row">
          <!-- Single Catagory -->
          {% for item in items %}
          <div class="col-12 col-sm-6 col-md-6 col-xl-3 pb-4">
            <div class="single-product-wrapper" id="product_box">
              <!-- Product Image -->
              <div class="product-img">

                <a href="{{ item.get_absolute_url }}">
                  <!-- <img src="{{ item.image.url }}" alt=""> -->
                  <div class="product_img">
                    <img id="img" src="{{ item.image.url }}" alt="">

                  </div>
                  <!-- Hover Content -->
              </div>
              <div class="latest-product__item__text">
                <h6>{{ item.title }}</h6>

                {% if item.discount_price  %}

                <span class=" mr-1" ">
                                            {{ item.discount_price }}‎BDT
                                        </span>
                                        <br>
                                        {% else %}
                                        <span class=" mr-1" ">
                                            {{item.price }} ‎BDT
                                        </span>
                                        {% endif %}
        
                                    </div>
                                   


                                    </a>
                                    <a class=" badge badge-light m-1" href="{{ item.get_add_to_cart_url }} ">
                  <button type="button" class="btn btn-outline-dark btn-sm" style="
                                font-size: smaller;
                                width: 100%;
                                font-family: 'Times New Roman', Times, serif;
                                
                              ">
                    Add to cart
                  </button>
                  </a>
              </div>

            </div>
            {% endfor %}

          </div>

        </div>
      </div>


      {% if items.has_other_pages %}



      <ul class="pagination justify-content-center">
        {% if items.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}"> <b> Previous</b></a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link"> Previous </a></li>
        {% endif %}
        {% for i in items.paginator.page_range %}
        {% if items.number == i %}
        <li class="page-item"><a class="page-link"> {{ i }} <span class="sr-only">(current)</span></a></span></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if items.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">Next</a></li>
        {% else %}
        <li class="page-item disabled"> <a class="page-link"> <span>Next</span> </a></li>
        {% endif %}
      </ul>

      {% endif %}

      <div>

        <div class="container">
          <div class="row">


            <div class="card w-100" style="border: transparent;">
              <div class="card-body">
                <div class="col-12" style="text-align: center; padding-top: 0%;">
                  <a style="
              text-transform: uppercase;
              text-align: justify;
              padding-left: 10px;
              font-size: 1em;
            "><span style="color: black;"><b>Others Categories from {{ shop}} </b> </span>
                  </a>

                  <hr style="color: black; background-color: black;" />
                </div>
                <div class="col-12">
                  <div class="container">
                    {% for item in category %}

                    <a class="badge badge-light m-1" href="{% url 'core:category-view' item.slug shop.slug %} ">
                      <b style=" font-size:medium;">{{ item.name }} </b>
                    </a>

                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
</div>
</div>
{% endblock %}