<!-- ##### Single Widget ##### -->
<div class="widget color mb-50">
    <!-- Widget Title -->
    <h6 class="widget-title mb-30">Color</h6>

    <div class="widget-desc">
        <ul class="d-flex">
            <li><a href="#" class="color1"></a></li>
            <li><a href="#" class="color2"></a></li>
            <li><a href="#" class="color3"></a></li>
            <li><a href="#" class="color4"></a></li>
            <li><a href="#" class="color5"></a></li>
            <li><a href="#" class="color6"></a></li>
            <li><a href="#" class="color7"></a></li>
            <li><a href="#" class="color8"></a></li>
        </ul>
    </div>
</div>