{% load static %}

{% for key,ci in cat_items.items %}



<section>
    <div class="deskContent">

        <div class="container">

            <div class="row">

                <div class="card w-100">
                    <div class="card-body">
                        <div class=" row ">



                            <div class=" neons col-12" style="text-align: center; padding-top: 0%;">
                                <a style=" text-transform: uppercase; text-align:justify; padding-left: 10px;
        font-size: 1em;" href="{% url 'core:category-view' name=key %}"><span>{{key}}</span></a>
                                <sup style="color: black; size: 5px;"> Click here to see
                                    all</sup>

                            </div>

                        </div>
                        <br>
                        <div class="categories__slider owl-carousel">
                            {% for item in ci %}
                            
                            <a href="{{ item.get_absolute_url }}">
                                <div class=" col-lg-3">
                                    <div id="image_with_price">
                                        <img src="{{ item.image.url }}" class="img-circle" alt="Pochonder-Shob.com"
                                            width="60">

                                        {% if item.discount_price  %}
                                        <div style="text-size-adjust:inherit;" id="price_tag">
                                            <small>{{item.discount_price}}
                                                BDT </small>
                                        </div>
                                        {% else %}
                                        <div style="text-size-adjust:inherit;" id="price_tag"><small>{{item.price}}
                                                BDT </small></div>
                                        {% endif %}

                                        <h5 style="color:white; text-align: center; background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgb(255, 255, 255));
                    ">
                                            <b style="color: black;">
                                                {{ item.title }}
                                            </b> <sup style="color: black; size: 5px;"> from {{ item.shop }}
                                            </sup>

                                        </h5>
                                    </div>

                                </div>
                            </a>

                            {% endfor %}



                        </div>
                    </div>
                </div>
            </div>






        </div>
    </div>




</section>
{% endfor %}


{% include 'ogani/data/mobile/cat_items.html' %}