{% extends "visitor/base.html" %}
{% load static %}
{% block page_content %}




<section>


    <div class=" container">


        <div class="row">


            {% for item in items %}
            <div class="col-12 col-sm-6 col-md-6 col-xl-3 pb-4">
                <div class="single-product-wrapper" id="product_box">
                    <!-- Product Image -->
                    <div class="product-img">
                        <sup style="color: black; size: 5px;"> from {{ item.shop }}
                        </sup>
                        <a href="{{ item.get_absolute_url }}">
                            <!-- <img src="{{ item.image.url }}" alt=""> -->
                            <div class="product_img">
                                <img id="img" src="{{ item.image.url }}" alt="">

                            </div>
                            <!-- Hover Content -->
                    </div>
                    <div class="latest-product__item__text">
                        <h6>{{ item.title }}</h6>

                        {% if item.discount_price  %}

                        <span class=" mr-1" ">
                            {{ item.discount_price }}‎ BDT
                        </span>
                        <br>
                        {% else %}
                        <span class=" mr-1" ">
                            {{item.price }} ‎BDT
                        </span>
                        {% endif %}

                    </div>
                   


                    </a>
                    <a  style=" padding-left: 35%;"class=" badge badge-light m-1"
                            href="{{ item.get_add_to_cart_url }} ">
                            <button type="button" class="btn btn-outline-dark btn-sm" style="
                font-size: smaller;
                width: 100%;
                font-family: 'Times New Roman', Times, serif;
                
              ">
                                Add to cart
                            </button>
                            </a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <br>
        <div class="container">
            <ul class="pagination justify-content-center">
                {% if items.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{items.previous_page_number}}"> Prev</a>
                </li>
                {% endif %}


                {% for pg in page_range %}
                {% if items.number == pg %}
                <li class="page-item"><a class="page-link" href="?page={{pg}}">{{pg}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{pg}}">{{pg}}</a></li>
                {% endif %}
                {% endfor %}
                {% if items.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{items.next_page_number}}">Next</a></li>
                {% endif %}
            </ul>
        </div>
        <br>
    </div>
    </div>
    </div>
    {% endblock %}

</section>