{% extends "visitor/base.html" %}
{% load static %}
{% block page_content %}


<section class="breadcrumb-section set-bg">



    <div class=" container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="breadcrumb__text"
                    style="width:100%; background-image: linear-gradient(to right, rgba(48, 204, 224, 0.6), rgba(0,0,0,.7));">


                    <h2>

                        <sup style="size: 1px;">Category-wise Shoping </sup></h2>

                </div>

            </div>
            <div class="col-lg-6 ">
                {% include 'visitor/layout/search1.html' %}
            </div>
        </div>
    </div>

</section>

<section>


    <div class=" container">


        <div class="row">


            {% for item in items %}
            <div class="col-12 col-sm-6 col-md-6 col-xl-3 pb-4">
                <div class="single-product-wrapper" id="product_box">
                    <!-- Product Image -->
                    <div class="product-img">

                        <a href="{{ item.get_absolute_url }}">
                            <!-- <img src="{{ item.image.url }}" alt=""> -->
                            <div class="product_img">
                                <img id="img" src="{{ item.image.url }}" alt="">
                                <div class="middle">
                                    {% if item.discount_price  %}
                                    <div class="text">{{ item.discount_price}}/-</div>
                                    {% else %}
                                    <div class="text">{{ item.price}}/-</div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Hover Content -->
                    </div>
                    <div class="latest-product__item__text">
                        <h6>{{ item.title }}</h6>

                        {% if item.discount_price  %}

                        <span class=" mr-1" ">
                            {{ item.discount_price }}‎ BDT
                        </span>
                        <br>
                        {% else %}
                        <span class=" mr-1" ">
                            {{item.price }} ‎BDT
                        </span>
                        {% endif %}

                    </div>
                   


                    </a>
                </div>
            </div>
            {% endfor %}            
        </div>
</div>
<br>
        {% for key,ci in cat_items.items %}
        
      
        <div class=" row ">



                            <div class=" neons col-12" style="text-align: center; padding-top: 0%;">
                            <a style=" text-transform: uppercase; text-align:justify; padding-left: 10px;
        font-size: 1em;" href="{% url 'core:category-view' ci.first.category.slug %}"><span>{{key}}</span></a>


                    </div>

                </div>

                {%endfor%}
                <br>
            </div>
        </div>
    </div>
    {% endblock %}

</section>