{% extends "visitor/base.html" %}
{% load static %}
{% block page_content %}




<section>


    <div class=" container">


        <div class="row">


            {% for item in items %}
            <div class="col-12 col-sm-6 col-md-6 col-xl-3 pb-4">
                <div class="single-product-wrapper" id="product_box">
                    <!-- Product Image -->
                    <div class="product-img">
                        <sup style="color: black; size: 5px;"> from {{ item.shop }}
                        </sup>
                        <a href="{{ item.get_absolute_url }}">
                            <!-- <img src="{{ item.image.url }}" alt=""> -->
                            <div class="product_img">
                                <img id="img" src="{{ item.image.url }}" alt="">
                               
                            </div>
                            <!-- Hover Content -->
                    </div>
                    <div class="latest-product__item__text">
                        <h6>{{ item.title }}</h6>

                        {% if item.discount_price  %}

                        <span class=" mr-1" ">
                            {{ item.discount_price }}‎ BDT
                        </span>
                        <br>
                        {% else %}
                        <span class=" mr-1" ">
                            {{item.price }} ‎BDT
                        </span>
                        {% endif %}

                    </div>
                   


                    </a>
                </div>
            </div>
            {% endfor %}            
        </div>
</div>
<br>
     
                <br>
            </div>
        </div>
    </div>
    {% endblock %}

</section>