{% extends "visitor/base.html" %} {% load static %} {% block page_content %}
<!-- Categories Section Begin -->

<!-- Categories Section End -->
<div style="width: 100%;">



  {% include 'visitor/home/b.html' %} {% include 'visitor/home/c.html' %}
</div>
<!-- Latest Product Section Begin
<section class="latest-product spad">
  <div class="container">
    <div class="row">
      {% include 'visitor/vulval/top.html' %}
      {% include 'visitor/vulval/new.html' %}
      {% include 'visitor/vulval/lat.html'%}
    </div>
  </div>
</section>
 -->
{% endblock %}