{% if object_list %}

<section>
    <h5 style="text-align: center;" class="card-title">Product</h5>

    <div class="container">
        <div class="row">


            {% for item in object_list %}
            <div class="col-10 col-sm-6 col-md-6 col-xl-3 pb-4">
                <a href="{{ item.get_absolute_url }}">

                    <div id="image_with_price">
                        <img src="{{ item.image.url }}" class="img-circle" alt="Pochonder-Shob.com">
                        {% if item.discount_price  %}
                        <div style="text-size-adjust:inherit;" id="price_tag"><small>{{item.discount_price}}
                                BDT </small>
                        </div>
                        {% else %}
                        <div style="text-size-adjust:inherit;" id="price_tag"><small>{{item.price}}
                                BDT </small></div>
                        {% endif %}

                        <h5 style="color:white; text-align: center; background-image: linear-gradient(to right, rgba(255,0,0,0.6), rgba(0,0,0,1));
                    ">
                            <b>
                                {{ item.title }}
                            </b>
                            <sup> {{item.category}} from {{item.shop}}</sup>


                        </h5>

                    </div>
                </a>
            </div>

            {% endfor %}




        </div>
</section>
{% endif %}