{% extends "ogani/base.html" %}
{% load static %}


{% block page_content %}
<section class="breadcrumb-section set-bg">



    <div class=" container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="breadcrumb__text"
                    style="width:100%; background-image: linear-gradient(to right, rgba(0, 0, 255, 0.6), rgba(0,0,0,.7));">
                    <h2>
                        Search Results</h2>
                </div>

            </div>
            <div class="col-lg-6 ">
                {% include 'ogani/layout/search1.html' %}
            </div>
        </div>
    </div>
</section>



{% include 'ogani/search/items.html' %}
{% include 'ogani/search/shops.html' %}
{% include 'ogani/search/markets.html' %}
{% include 'ogani/search/no_result.html' %}
{% include 'ogani/search/cats.html' %}
{% endblock%}