{% if object_list_shops %}
<section>
    <div class="neons col-12">
        <h1><em>Shop</em></h1>
    </div>
    <br>
    <div class="container">
        <div class="row">

            <div class="card w-100">
                <div class="card-body">



                    <div class="product_img">
                        {% for item in object_list_shops %}
                        <a href="{{ item.get_absolute_url }}">
                            <div class=" col-lg-3">
                                <div id="image_with_price">
                                    <img src="{{ item.photo.url }}" class="img-circle" alt="Pochonder-Shob.com">


                                    <div style=" text-size-adjust:inherit;" id="price_tag"><small>New</small>
                                    </div>


                                    <h5 style="color:white; text-align: center; background-image: linear-gradient(to right, rgba(255,0,0,0.6), rgba(0,0,0,1));
                    ">
                                        <b>
                                            {{ item.title }}
                                        </b>
                                        <br>
                                        <span class=" mr-1" ">
                                            {{ item.area }}‎
                                        </span>

                                    </h5>
                                </div>

                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endif %}