{% load static %}
{% load cart_template_tags %}
<!-- Header Area Start -->
<header class="header-area clearfix">
    <!-- Close Icon -->
    <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <!-- Logo -->
    <div class="logo">
        <a href="index.html"><img src="{% static 'image/ps/logo.png' %}" alt=""></a>
    </div>
    <!-- Amado Nav -->
    <nav class="nav">
        <ul>
            <p>
                <li class="active"><a href="{% url 'core:home' %}">Home</a></li>

                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect"> <img
                            src="{% static 'user/img/core-img/cart.png' %}" alt="">
                        Cart
                        <span> ({{ request.user|cart_item_count }}) </span>


                    </a>
                </li>
                {% endif %}


            </p>

            <ul>




                <strong> Shops: </strong>
                <li class="active">
                    {% for item in shops %}

                    <button type="button" class="btn btn-outline-success">
                        {{item}} {{ " "}}
                    </button>
                    {% endfor %}
                </li>

                <strong> Categories: </strong>
                <li class="active">
                    {% for item in cats %}
                    <button type="button" class="btn btn-outline-danger btn-sm">
                        {{ item }}
                    </button>
                    {% endfor %}
                </li>

                <strong> Markets: </strong>
                <li class="active">
                    {% for item in markets %}

                    <button type="button" class="btn btn-outline-success">
                        {{item}}
                    </button>
                    {% endfor %}
                </li>

            </ul>

        </ul>



        </table>

        </ul>


    </nav>


    <!--
         <a href="#" class="search-nav"><img src="{% static 'user/img/core-img/search.png' %}" alt=""> Search</a>
    -->



    <!-- Social Button -->
</header>
<!-- Header Area End -->