{% load static %}

<div class="col-lg-4 col-md-6">
    <div class="latest-product__text">
        <h4>New Products</h4>
        <div class="latest-product__slider owl-carousel">
            {% for item in new %}
            <div class="latest-prdouct__slider__item">
                <a href="{{ item.get_absolute_url }}" class="latest-product__item">
                    <div>
                        <img id="product_slider_image" src="{{ item.image.url }}" alt="" />
                    </div>
                    <div class="product-description d-flex align-items-center justify-content-between">
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <div class="latest-product__item__text">
                                <h6>{{ item.title }}</h6>

                                {% if item.discount_price  %}

                                <span class=" mr-1" ">
                                    {{ item.discount_price }}‎BDT
                                </span>
                                <br>
                                {% else %}
                                <span class=" mr-1" ">
                                    {{item.price }} ‎BDT
                                </span>
                                {% endif %}

                            </div>

                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>