{% load static %}
<header class="header-mobile d-block d-lg-none">

    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">


                <li>
                    <a href="{% static 'shop/chart.html' %}">
                        <i class="fas fa-chart-bar"></i>Orders</a>
                </li>
                <li>
                    <a href="{% static 'shop/table.html' %}">
                        <i class="fas fa-table"></i>Add Item </a>
                </li>
                <li>
                    <a href="{% static 'shop/form.html' %}">
                        <i class="far fa-check-square"></i>Forms</a>
                </li>
                <li>
                    <a href="{% static 'shop/calendar.html' %}">
                        <i class="fas fa-calendar-alt"></i>Your Shop Profile</a>
                </li>



            </ul>
        </div>
    </nav>
</header>
<!-- END HEADER MOBILE-->