{% load static %}

{% for key,ci in cat_items.items %}



<section>
    <div class="deskContent">

        <div class="container">

            <div class="row">

                <div class="card w-100" style="border: transparent;">
                    <div class="card-body">
                        <div class=" row ">



                            <div class=" col-12" style="text-align: left; padding-top: 0%; ">
                                <a style=" text-transform: uppercase; text-align:justify; padding-left: 10px;
        font-size: 1em;" href="{% url 'core:category-view' name=key %}"><span style="color: black;">
                                        <b>{{key}}</b></span></a>


                            </div>

                        </div>
                        <hr style="color: tomato;">
                        <div class="categories__slider owl-carousel">
                            {% for item in ci %}

                            <a href="{{ item.get_absolute_url }}">
                                <div class=" col-lg-3">
                                    <sup style="color: black; size: 5px;"> from {{ item.shop }}
                                    </sup>

                                    <div id="image_with_price">
                                        {% if item.thumb %}
                                        <img src="{{ item.thumb.url }}" class="img-circle" alt="Pochonder-Shob.com"
                                            width="60">
                                        {% else %}  
                                        <img src="{{ item.image.url }}" class="img-circle" alt="Pochonder-Shob.com"
                                            width="60">
                                        {% endif %}

                                        {% if item.discount_price  %}
                                        <div style="text-size-adjust:inherit;  background-image: linear-gradient(to right, rgba(15, 15, 15, 0.6),purple);"
                                            id="price_tag">


                                            <small style="color: white;"> <b>{{item.discount_price}}
                                                    BDT </b></small>
                                        </div>
                                        {% else %}
                                        <div style="text-size-adjust:inherit; background-image: linear-gradient(to right, rgba(3, 3, 3, 0.6),purple);"
                                            id="price_tag"><small> <b style="color: white;">{{item.price}}
                                                    BDT </b> </small></div>
                                        {% endif %}

                                        <h5 style="color:white; text-align: center; background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgb(255, 255, 255));
                    ">
                                            <b style="color: black;">
                                                {{ item.title }}
                                            </b>

                                        </h5>
                                    </div>

                                </div>
                            </a>

                            {% endfor %}



                        </div>
                    </div>
                </div>
            </div>






        </div>
    </div>




</section>

{% if  forloop.counter == 4 %}
{% include 'visitor/data/markets.html' %}
{% endif %}


{% if  forloop.counter == 2 %}
{% include 'visitor/data/shops.html' %}
{% endif %}

{% endfor %}


{% include 'visitor/data/mobile/cat_items.html' %}