{% extends "ogani/base.html" %}
{% load static %}
<!-- Header Area End -->

{% block page_content %}


<div class=" container">
    <h2> Shops </h2>
    <hr>
    <div class="row pb-3">
        <!-- Single Catagory -->
        {% for item in shops %}
        <div class="col-12 col-sm-6 col-md-6 col-xl-3">
            <div class="single-product-wrapper">
                <!-- Product Image -->
                <div class="product-img">

                    <a href="{{ item.get_absolute_url }}">
                        <img src="{{ item.photo.url }}" class="img-circle" alt="Pochonder-Shob.com" width="60"
                            height="150">
                        <!-- Hover Content -->
                </div>
                <div class="product-description d-flex align-items-center justify-content-between"
                    style="text-align: center;">
                    <div class="latest-product__item__text">
                        <h6 style="text-align: center;">{{ item.shop_type}}</h6>



                        <span style="text-align: center;" class=" mr-1" ">
                                {{ item.title }}
                                
                            </span>
                            

                        </div>

                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>


<!-- Product Catagories Area End -->
{% endblock %}