{% extends "ogani/base.html" %}
{% load static %}
{% block logo %}
<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Humberger Begin -->

<div class="humberger__menu__overlay"></div>
<br />
</header>
{% endblock logo %}
{% block page_content %}
{% include 'ogani/layout/show-case.html' %}
<!-- Categories Section Begin -->

<!-- Categories Section End -->
{% include 'ogani/data/markets.html' %}

{% include 'ogani/data/shops.html' %}
<!-- Featured Section End -->
{% include 'ogani/data/cat_items.html' %}



<!-- Latest Product Section Begin -->
<section class="latest-product spad">
  <div class="container">
    <div class="row">


      {% include 'ogani/vulval/top.html' %}
      {% include 'ogani/vulval/new.html' %}
      {% include 'ogani/vulval/lat.html' %}



    </div>
  </div>
</section>


{% endblock %}