{% extends "ogani/base.html" %}
{% load static %}

{% block page_content %}
{% include 'ogani/layout/show-case.html' %}
<!-- Categories Section Begin -->

<!-- Categories Section End -->





<div class="deskContent">
  <div class="container">
    <div class="row">
      <div class=" col-md-6">


        {% include 'ogani/data/markets.html' %}

      </div>
      <div class=" col-md-6">

        {% include 'ogani/data/shops.html' %}
      </div>
    </div>
  </div>
</div>

<!-- Featured Section End -->
{% include 'ogani/data/cat_items.html' %}



</div>
<!-- Latest Product Section Begin -->
<section class=" latest-product spad">
  <div class="container">
    <div class="row">


      {% include 'ogani/vulval/top.html' %}
      {% include 'ogani/vulval/new.html' %}
      {% include 'ogani/vulval/lat.html' %}



    </div>
  </div>
</section>


{% endblock %}