{% extends "ogani/base.html" %}
{% load static %}
{% block page_content %}
<div class="amado_product_area section-padding-100">
    <div class=" container">
        <h2> Markets </h2>
        <hr>
        <div class="row pb-3">
            <!-- Single Catagory -->
            {% for item in object_list %}
            <div class="col-12 col-sm-6 col-md-6 col-xl-3">
                <div class="single-product-wrapper">
                    <!-- Product Image -->
                    <div class="product-img">

                        <a href="{{ item.get_absolute_url }}">
                            <img src="{{ item.image.url }}" alt="">
                            <!-- Hover Content -->
                    </div>
                    <div class="product-description d-flex align-items-center justify-content-between">
                        <div class="latest-product__item__text">
                            <h6 style="text-align: center;">{{ item.shops_count}} Shops</h6>



                            <span style="text-align: center;" class=" mr-1" ">
                                {{ item.name }}
                                
                            </span>
                            

                        </div>
                        <!--
                        <div class=" product-meta-data">

                                <div class="line"></div>
                                <p>{{ item.name }} </p>

                                <small> {{ item.shops_count}} <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                </small>
                        </div>
                        -->
                        <!-- <div class="ratings-cart text-right">
                            <div class="ratings">
                                <h1>
                                    <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                                    <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
                                </h1>
                            </div>

                        </div> -->
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</div>

<!-- Product Catagories Area End -->
{% endblock %}