{%load static %}
<!-- Footer Section Begin -->
<div class="bg-warning ">

    <button onclick="topFunction()" style="color: black;" id="myBtn" class="btn btn-lg btn-block" title="Go to top">
        <small>Back to Top</small>
    </button>
</div>

<footer class="footer spad" style="background-color: #343A40;">
    <div class=" container p-3 my-3 bg-dark text-white">

        <div class=" row ">
            <div class=" col-lg-3 col-md-6 col-sm-6 bg-primry text-white">
                <div class="footer__about ">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="{% static 'ogani/img/logo.png' %}" alt="" /></a>
                    </div>
                    <ul>
                        <li>Address: 48, Khan Jahan Ali Road, Khulna. </li>
                        <li><a class="btn btn-dark" href="tel:+8801728750427">+88 01728 750 427</a></li>
                        <li>Email: hello@LinB1.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Useful Links</h6>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">About Our Shop</a></li>
                        <li><a href="#">Secure Shopping</a></li>
                        <li><a href="#">Delivery infomation</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Our Sitemap</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Who We Are</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Innovation</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Join Our Newsletter Now</h6>
                    <p>
                        Get E-mail updates about our latest shop and special offers.
                    </p>
                    <form action="#">
                        <input type="text" placeholder="Enter your mail" />
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div>
                        <p style="text-align:center; color: black;">
                            <!-- Link back to LinB1 can't be removed.  is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved |
                            <i style=" color: black;" class="fa fa-heart" aria-hidden="true"></i> by
                            <a style="color: black;" href="https://LinB1.com" target="_blank">LinB1 Software Development
                                & Consultancy
                                Ltd.</a>
                            <!-- Link back to LinB1 can't be removed.  is licensed under CC BY 3.0. -->
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>