{%load static %}
<section class="hero">

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Top Categories</span>
                    </div>

                    <ul>
                        {% for item in cats_nav %}
                        <li><a href="{% url 'core:category-view' item.slug %}"><small> {{ item.name }}</small></a> </li>
                        {% endfor %}


                    </ul>


                </div>
                <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%;">
                    <tr>
                        <td style="background-color:#4267b2;border-radius:3px;text-align:center;">
                            <a style="color:#3b5998;text-decoration:none;cursor:pointer;width:100%;"
                                href="https://www.facebook.com/plugins/group/join/popup/?group_id=2693927037547637&amp;source=email_campaign_plugin"
                                target="_blank" rel="noopener">
                                <table border="0" cellspacing="0" cellpadding="3" align="center"
                                    style="border-collapse:collapse;">
                                    <tr>
                                        <td
                                            style="border-bottom:3px solid #4267b2;border-top:3px solid #4267b2;color:#FFF;font-family:Helvetica, Arial, sans-serif;font-size:12px;font-weight:bold;">
                                            Join facebook Group</td>
                                    </tr>
                                </table>
                            </a></td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-9">
                <div class="hero__search">
                    {% include 'ogani/layout/search.html' %}
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">

                            <a style="color: black;" href="tel:+8801950641081"><i class="fa fa-phone"></i> </a>

                        </div>
                        <div class="hero__search__phone__text">
                            <h5>
                                <a style="color: black;" href="tel:+8801950641081"> +88 01950 641 081</a>
                            </h5>
                            <span>Tap to call</span>
                        </div>
                    </div>
                </div>


                <!-- The slideshow -->
                <div id="demo" class="carousel slide" data-ride="carousel" data-interval="2000">
                    <div class="carousel-inner" style=" width:100%; height:180px;">
                        {% for item in slider %}
                        {% if  forloop.counter == 1 %}
                        <div class=" carousel-item active">
                            {% else %}
                            <div class="carousel-item">
                                {% endif %}
                                <img src="{{item.image.url}}" width="100%" height="300px">


                            </div>
                            {% endfor %}

                        </div>

                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>

                </div>
                <!-- The slideshow End -->

            </div>

</section>
<!-- Hero Section End -->