{% load static%}
<table class="table table-borderless table-data3">
    <thead>
        <tr>
            <th>date</th>
            <th>type</th>
            <th>description</th>
            <th>status</th>
            <th>price</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>2018-09-28 01:22</td>
            <td>Mobile</td>
            <td>Samsung S8 Black</td>
            <td class="process">Processed</td>
            <td>$756.00</td>
        </tr>


    </tbody>
</table>