.Checkout_block{
    padding: 40px;
}
.Checkout_block input {
    background-color: honeydew;
}
.Checkout_block textarea {
    background-color: honeydew;
}
#my_order{
    margin: 20px auto;
    box-shadow: 10px 10px 5px grey;
    text-align: center;
    background-color: honeydew;
    padding: 30px;
}
.price span{
    font-size: 15px; 
}
#plus-minus {
    font-size: 20px;
}
@media(max-width: 770px){
    .price span{
        font-size: 12px;
    }
    #plus-minus{
        font-size: 15px;
    }
}

#shop_image {
  height: 250px;
  object-fit: cover;
}
#product_slider_image{
  height: 250px;
  object-fit: contain;
}

.product_img{
    position: relative;
}

.product_img #img{
    opacity: 1;
    display: block;
    width: 100%;
    height: 180px;
    object-fit: contain;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
.product_img .middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
.product_img:hover #img{
    opacity: 0.3;
  }
  
.product_img:hover .middle{
    opacity: 1;
  }
  
.product_img .text{
    background-color:darkgreen;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

#product_box{
    padding-bottom: 8px;
    margin: 4px;
    box-shadow: 10px 10px 5px grey;
}
 
#home-caro {
    height: 70vh;
}
@media(max-width: 770px){
    
    #home-caro{
        height: 50vh;
    }
}

@media(max-width: 520px){
    
    #home-caro{
        height: 35vh;
    }
}


.breadcrumb-section {
    display: flex;
    align-items: center;
    padding: 45px 0 40px;
  }
  
  /* hfushydfu */
  .breadcrumb__text h2 {
    font-size: 46px;
    color: #ffffff;
    font-weight: 700;
  }
  
  .breadcrumb__option a {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin-right: 20px;
    position: relative;
  }
  
  .breadcrumb__option a:after {
    position: absolute;
    right: -12px;
    top: 13px;
    height: 1px;
    width: 10px;
    background: #ffffff;
    content: "";
  }
  
  .breadcrumb__option span {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
  }
  
  .set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  