#image_with_price{
    position: relative;
    overflow: hidden;
}
#price_tag{
    
    position: absolute;
    left: -30px;
    top: 7px;
    width: 150px;
    background-image: linear-gradient(to right, rgba(235, 232, 226, 0.6),purple);
    transform: rotate(-35deg);
    padding: 5px 36px;
    color: black;
    font-weight: 700;
    text-align: center;
}

#price_tag2{
    
    position: absolute;
    left: -30px;
    top: 40px;
    width: 50%;
    
    background-image: linear-gradient(to right, rgba(216, 17, 66, 0.6), rgba(21, 21, 173, 0.76));
    transform: rotate(-35deg);
    padding: 5px 36px;
    
    color: rgb(241, 236, 236);
    
}
#cond a:hover{
    color: black;
}
#condition_header{
    font-weight: 600;
    color: black;
}

#footer_content li,h4{
    color: white;
}
#footer_content a{
    color: white;
}
