{% load static %}
<div style="width: 92%; padding-left: 4%; padding-right: 4%;">
    <div class="row">
        <div class="card w-100" style="border: transparent;">
            <div class="col-12">
                <div style="width:100%">

                    <div class="deskContent">
                        </span>
                        {% for item in cats_all %}

                        <a class="badge badge-dark m-1" style=" font-family: 'Times New Roman', Times, serif;"
                            href="{% url 'core:category-view' item.slug %} ">

                            {{ item.name }}

                        </a>

                        {% endfor %}
                    </div>

                    <div class="phoneContent">
                        {% for item in cats_all %}
                        {% if forloop.counter < 10 %}
                        <a class="badge badge-warning m-1" href="{% url 'core:category-view' item.slug %} ">

                            {{ item.name }}

                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>