{% load static %}
<div style="width: 92%; padding-left: 4%; padding-right: 4%;">
    <div class="row">
        <div class="card w-100" style="border: transparent;">
            <div class="col-12">
                <div style="width:100%">

                    <div class="deskContent">

                        {% for item in cats_all %}
                        <button id="{{ item.slug }}" type=" button" class="btn btn-danger">
                            <script type="text/javascript">
                                document.getElementById("{{ item.slug }}").onclick = function () {
                                    location.href = "{% url 'core:category-view' item.slug %}";
                                };
                            </script>


                            {{ item.name }}


                        </button>

                        {% endfor %}
                    </div>

                    <div class=" phoneContent">
                        {% for item in cats_all %}
                        {% if forloop.counter < 15 %}
                        <a class="badge badge-warning m-1" href="{% url 'core:category-view' item.slug %} ">

                            {{ item.name }}

                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>