{% load static %}
<div class="container">
    <div class="row">
        <div class="card w-100" style="border: transparent;">
            <div class="col-12">
                <div class="container">
                    <div class="col-12" style="
                text-align: center;
                padding-top: 0%;
                font-family: Georgia, 'Times New Roman', Times, serif;
              ">
                        <a style="
                  text-transform: uppercase;
                  text-align: justify;
                  padding-left: 10px;
                  font-size: 1em;
                "><span style="color: black;"><b> Do you have any preferences? </b>
                            </span>
                        </a>

                        <hr style="color: black; size: 2px;" />
                    </div>


                    <div class="phoneContent">
                        {% for item in cats_all %}

                        <a class="badge badge-light m-1" href="{% url 'core:category-view' item.slug %} ">
                            <button type="button" class="btn btn-outline-dark btn-sm" style="
                    font-size: smaller;
                    width: 100%;
                    font-family: 'Times New Roman', Times, serif;
                  ">
                                {{ item.name }}
                            </button>
                        </a>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>