{% load static %}


{% for key,ci in cat_items.items %}


<section>
    <div class="phoneContent">




        <div class="container">

            <div class="row">

                <div class="card w-100">
                    <div class="card-body">
                        <div class=" col-12" style="text-align: center; padding-top: 0%;">
                            <a style=" text-transform: uppercase; text-align:justify; padding-left: 10px;
    font-size: 1em;" href="{% url 'core:category-view' name=key %}"><span style="color: black;"><b> {{key}}</b> </span>
                            </a>


                        </div>

                        <div class="container">
                            {% for item in ci %}


                            <div class="column" style="  overflow: hidden; float: left; margin:0 auto; padding:20px 0;">

                                <!-- Product Image -->


                                <a href="{{ item.get_absolute_url }}">




                                    <sup style="color: rgb(31, 3, 3); size: 1px;">
                                        {{ item.shop }}'s
                                    </sup>
                                    <style>
                                        .img-circle:hover {
                                            overflow: hidden;

                                            object-fit: cover;
                                            height: 100%;
                                            width: 100%;
                                            display: block;
                                            cursor: pointer;
                                            -moz-transform: scale(1.5);
                                            -webkit-transform: scale(1.5);
                                            -o-transform: scale(1.5);
                                            transform: scale(1.5);
                                        }
                                    </style>
                                    <img src="{{ item.image.url }}" class="img-circle" alt="Pochonder-Shob.com">
                                    <h5 style="color:white; text-align: center; background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgb(255, 255, 255));
                                            ">

                                        <span style="color: black; size: 2px;">
                                            <small>{{ item.title }} </small>
                                        </span>

                                        {% if item.discount_price  %}
                                        <div style=" padding: center;">
                                            <b style="color: black; size: 5px;">{{item.discount_price}}
                                                BDT </b>
                                        </div>
                                        {% else %}
                                        <div style="padding: center;"><b style="color: black; size: 5px;">{{item.price}}
                                                BDT </b>
                                        </div>
                                        {% endif %}

                                    </h5>




                                </a>




                            </div>
                            {% endfor %}
                        </div>

                    </div>

                </div>
            </div>
        </div>



    </div>


    </div>





</section>

{% if  forloop.counter == 5 %}
{% include 'visitor/data/mobile/markets.html' %}
{% endif %}


{% if  forloop.counter == 3 %}
{% include 'visitor/data/mobile/shops.html' %}
{% endif %}

{% endfor %}