{% load static %}




<section>
    <div class="phoneContent">




        <div class="container">

            <div class="row">

                <div class="card w-100" style="border: transparent;">
                    <div class="card-body">
                        <div class=" col-12" style="text-align: center; padding-top: 0%;">
                            <a style=" text-transform: uppercase; text-align:justify; padding-left: 10px;
    font-size: 1em;"><span style="color: black;"><b> Finding your
                                        favourite Market? </b> </span>
                            </a>


                        </div>
                        <hr style="color: black; background-color: black;">


                        <div class="container">
                            {% for item in markets %}


                            <div class="column" style="  overflow: hidden; float: left; margin:0 auto; padding:20px 0;">

                                <!-- Product Image -->


                                <a href="{{ item.get_absolute_url }}">





                                    <img src="{{ item.image.url }}" class="img-circle" alt="Pochonder-Shob.com">
                                    <h5 style="color:white; text-align: center; background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgb(255, 255, 255));
                                            ">

                                        {%  if item.shops_count > 10 %}
                                        <span style="color: black; size: 2px;">
                                            <small>{{ item.shops_count }} Shops, </small>
                                        </span>
                                        {% endif %}

                                        <span style="color: black; size: 2px;">
                                            <small> {{ item.items_count }} Items </small>
                                        </span>


                                        <div style=" padding: center;">
                                            <b style="color: black; size: 5px;">{{item.name}}
                                            </b>
                                        </div>



                                    </h5>




                                </a>




                            </div>
                            {% endfor %}
                        </div>

                    </div>

                </div>
            </div>
        </div>



    </div>


    </div>





</section>