{% extends "base1.html" %}

{% block content1 %}
<main>
    <div class="container">


        <!--/.Navbar-->

        <!--Section: Products v.3-->
        <section class="text-center mb-4">

            <div class="row wow fadeIn">

                {% for item in object %}
                <div class="col-lg-3 col-md-6 mb-4">

                    <div class="card">



                        <div class="card-body text-center">
                            <a href="" class="grey-text">

                                <p> Pochondoo Orderd ID: {{ item.id}}</p>

                                {% if item.ordered %}
                                Orderd
                                {% else %}
                                Not Orderd
                                {% endif %}



                            </a>


                            <h4 class="font-weight-bold blue-text">
                                <strong>
                                    <p class="lead">
                                        Total Amount: {{ item.get_total }} BDT
                                    </p>
                                </strong>
                            </h4>

                        </div>

                    </div>

                </div>
                {% endfor %}
            </div>

        </section>
        <!--Section: Products v.3-->

        <!--Pagination-->



    </div>
</main>

{% endblock content1 %}