{% load static %}
{% load cart_template_tags %}
<!-- Header Area Start -->
<header class="header-area clearfix">
    <!-- Close Icon -->
    <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <!-- Logo -->
    <div class="logo">
        <a href="/"><img src="{% static 'amado/img/core-img/logo.jpg' %}" alt=""></a>
    </div>
    <!-- Amado Nav -->
    <nav class="amado-nav">
        <ul>

            <li><a href="/">Home</a></li>
            {% if not request.user.is_authenticated %}

            <li>
                <!--Login/ easy signup a niye jabe -->
                <a href="{% url 'account_login' %}" class="cart-nav"><img
                        src="{% static 'amado/img/core-img/cart.png' %}" alt=""> Cart
                    <span>(0) </span></a>
            </li>
            {% endif %}
            <!--
                <li class="active"><a href="shop.html">Search</a></li>
            -->

            <li><a href="{% url 'core:markets' %}">Market</a></li>
            <li><a href="{% url 'core:shops' %}">Shop</a></li>
            <li><a href="{% url 'core:products' %}">Product</a></li>

            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'core:order-summary' %}" class="cart-nav"><img
                        src="{% static 'amado/img/core-img/cart.png' %}" alt=""> Cart
                    <span>({{ request.user|cart_item_count }}) </span></a>
            </li>







            <li class="nav-item">
                <a class="nav-link waves-effect" href="{% url 'account_logout' %}">
                    <span class="clearfix d-none d-sm-inline-block"> Logout </span>
                </a>
            </li>
            {% else %}

            <li class="nav-item">
                <a class="nav-link waves-effect" href="{% url 'account_login' %}">
                    <span class="clearfix d-none d-sm-inline-block"> Login </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
                    <span class="clearfix d-none d-sm-inline-block"> Signup </span>
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>

    {% if request.user.is_authenticated %}

    <p>
        <span class=""> Hello {{ request.user.username }}! </span>

    </p>

    {% endif %}
</header>
<!-- Header Area End -->