{% load static %}
<div class="shop_sidebar_area">

    <!-- ##### Single Widget ##### -->
    <div class="widget catagory mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Catagories</h6>

        <!--  Catagories  -->
        <div class="catagories-menu">
            <ul>
                {% for item in cats %}
                <li><a href="#">{{item}}</a></li>
                {% endfor %}
                <!--
                <li class="active"><a href="#">Chairs</a></li>
                <li><a href="#">Beds</a></li>
                <li><a href="#">Accesories</a></li>
                <li><a href="#">Furniture</a></li>
                <li><a href="#">Home Deco</a></li>
                <li><a href="#">Dressings</a></li>
                <li><a href="#">Tables</a></li>
                -->

            </ul>
        </div>
    </div>

    <!-- Side Start -->
    <div class="widget catagory mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Markets</h6>

        <!--  Market -->
        <div class="catagories-menu">
            <ul>
                {% for item in markets %}
                <li><a href="#">{{item}}</a></li>
                {% endfor %}

            </ul>
        </div>
    </div>
    <!-- Side End -->

    <!-- Side Start -->
    <div class="widget catagory mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Shops</h6>

        <!--  Shops -->
        <div class="catagories-menu">
            <ul>
                {% for item in shops %}
                <li><a href="#">{{item}}</a></li>
                {% endfor %}

            </ul>
        </div>
    </div>
    <!-- Side End -->









</div>