{%load static %}

<div class="humberger__menu__wrapper">
  <nav
    class="humberger__menu__nav mobile-menu"
    style="background-color: white;"
  >
    <ul style="background-color: white;">
      <a href="/"
        ><img
          src="{% static 'visitor/img/logo.png' %}"
          style="width: auto;"
          alt=""
      /></a>
    </ul>
    <ul style="background-color: white;">
      <li><a href="{% url 'core:home' %}">Home</a></li>
      <!-- {% if request.user.is_authenticated %}
            <li><a href="{% url 'core:shops' %}">Shops</a></li>
            {% endif %} -->

      <li>
        <a>Categories</a>
        <ul class="header__menu__dropdown">
          {% for item in root_cat %}
          <a> <b>{{ item.title }} </b> </a>
          <ul class="header__menu__dropdown">
            {% for ccat in item.category %}

            <li>
              <a
                style="color: black;"
                href="{% url 'core:category-view' ccat.slug %}"
                >{{ ccat.name }}</a
              >
            </li>
            {% endfor %}
          </ul>
          {% endfor %}

          <!-- <li><a href="{% url 'core:products' %}">All Products</a></li>
                    <li><a href="{% url 'core:order-summary' %}">Shoping Cart</a></li>
                    <li><a href="#">Check Out</a></li>
                    <li><a href="#">Blog Details</a></li> -->
        </ul>
      </li>

      <li>
        <a href="#">Shops</a>
        <ul class="header__menu__dropdown">
          {% for item in shops %}

          <li>
            <a style="color: black;" href="{{ item.get_absolute_url }}"
              ><b> {{ item.title }}</b></a
            >
          </li>

          {% endfor %}
        </ul>
      </li>
      <li>
        <a href="#">Markets</a>
        <ul
          class="header__menu__dropdown"
          style="background-color: white; height: 100%;"
        >
          {% for item in markets %}

          <li>
            <a
              style="color: black; padding-right: 5px;"
              href="{{ item.get_absolute_url }}"
              ><b> {{ item.name }}</b>
            </a>
          </li>

          {% endfor %}
        </ul>
      </li>
      <li><a href="{% url 'core:customer-order' %}">My Order</a></li>
      {% if request.user.is_authenticated %}
      <li><a href="\accounts\logout\">Logout</a></li>
      {% else %}
      <li><a href="\accounts\login\">Login</a></li>
      {% endif %}
    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
  <div class="header__top__right__social">
    <!-- <a
            href="https://www.facebook.com/%E0%A6%AA%E0%A6%9B%E0%A6%A8%E0%A7%8D%E0%A6%A6%E0%A7%87%E0%A6%B0-%E0%A6%B8%E0%A6%AC%E0%A6%95%E0%A6%AE-106914437718816"><i
                class="fa fa-facebook"></i></a> -->
    <!-- <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a> -->
  </div>
  <div class="humberger__menu__contact">
    <!-- <ul>
            <li><i class="fa fa-envelope"></i> hello@LinB1.com</li>
            <li>Free Shipping for all Order of BDT 99</li>
        </ul> -->
  </div>
</div>

<!-- Humberger End -->

<!-- Header Section Begin -->
{% include 'visitor/layout/header/web.html' %}
<!-- Header Section End -->
{% include 'visitor/layout/header/mobile.html' %}
