{% load static %}


<div style="width: 100%;">

  <div class="deskContent" style="width: 98%;; padding-left: 1%; padding-right: 1%;  -moz-column-count: 5;
  -webkit-column-count: 5;
  column-count: 5;">

    <div style=" width: 100%;">
      {% for item in items %}

      <div class="col-12 col-sm-10 col-md-10 col-xl-10 p-3">



        <div id="image_with_price">
          <button onclick="topFunction()" style="color: black;" id="myBtn" class="btn btn-lg btn-block"
            title="See all from {{item.shop}}">
            <a href="{{ item.shop.get_absolute_url }}">
              <sup style="font-size: 10px; color: black;"> {{item.category}} </sup> <sup
                style="color: black; font-size: 10px;"> from
                <b>{{item.shop}}</b></sup>

            </a>
          </button>
          <a href="{{ item.get_absolute_url }}">

            <img src="{{ item.image.url }}" class="img-circle" style="
            vertical-align: middle;
            width: 100%;" alt="Pochonder-Shob.com">

            <p>
              <span style="color: black;">
                {{ item.title }}
                <sup>
                  {% if item.discount_price  %}
                  <b style="color: tomato;">
                    {{item.discount_price}}
                    BDT
                  </b>
                  {% else %}
                  <b>
                    {{item.price}}
                    BDT
                  </b>

                  {% endif %}
                </sup>


              </span>
          </a>
          </p>
          <p>


            <a style="padding: 5%;" class="badge badge-pill badge-warning" href="{{ item.get_add_to_cart_url }} ">

              Add to cart +

            </a>

          </p>






        </div>

      </div>
      {% endfor %}
    </div>







    <div class="container">
      <ul class="pagination justify-content-center">
        {% if items.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{items.previous_page_number}}"> Prev</a>
        </li>
        {% endif %}


        {% for pg in page_range %}
        {% if items.number == pg %}
        <li class="page-item"><a class="page-link" href="?page={{pg}}">{{pg}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{pg}}">{{pg}}</a></li>
        {% endif %}
        {% endfor %}
        {% if items.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{items.next_page_number}}">Next</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>