{% load static %}


<div class="container">
  <br>

  <div class="phoneContent">
    <div style="-moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;">

      {% for item in items %}
      {% if forloop.counter == 4 %}
      <div class="col-12 col-sm-10 col-md-10 col-xl-10 p-1" style="margin: 0%;">
        {% for sld in slider %}
        <img src="{{ sld.image.url }}" class="img-circle" alt="" />
        {% endfor %}
      </div>

      {% endif %}
      <div class="col-12 col-sm-10 col-md-10 col-xl-10 p-1" style="margin: 0%;">
        <!-- Product Image -->

        <a href="{{ item.get_absolute_url }} >
          <button onclick=" topFunction()" style="color: black;" id="myBtn" class="btn btn-lg btn-block"
          title="See all from {{item.shop}}">
          <a href="{{ item.shop.get_absolute_url }}">
            <!--
 <sup style="font-size: 10px; color: black;">
                {{item.category}}
              </sup>
              <sup style="color: black; font-size: 10px;">
                from <b>{{item.shop}}</b></sup>
              -->

          </a>
          </button>
          <a href="{{ item.get_absolute_url }}">
            {% if item.thumb %}
            <img src="{{ item.thumb.url }}" class="img-circle" alt="Pochonder-Shob.com" />
            {% else %}
            <img src="{{ item.image.url }}" class="img-circle" alt="Pochonder-Shob.com" />
            {% endif %}



            {% if item.discount_price %}

            <p style="font-size: xx-small;">

              {{item.discount_price}} ৳


            </p>


            {% else %}


            <p style="font-size: xx-small; margin-bottom: 0%;">

              {{item.price}} ৳


            </p>

            {% endif %}

          </a>
          <!--

          -->
          <!---
         
          <a style="padding-left: 35%;" class="badge badge-light m-1" href="{{ item.get_add_to_cart_url }} ">
            <button type="button" class="btn btn-outline-dark btn-sm" style="
    font-size: small;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    
  ">
              Add to cart
            </button>
          </a>
          --->

      </div>
      <!--

      
      {% if  forloop.counter == 18 %}
      {% include 'visitor/cat/rcmd.html' %}
      {% endif %}
      -->

      {% endfor %}
    </div>
    <div class="container">
      <ul class="pagination justify-content-center">
        {% if items.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{items.previous_page_number}}"> Prev</a>
        </li>
        {% endif %}


        {% for pg in page_range %}
        {% if items.number == pg %}
        <li class="page-item"><a class="page-link" href="?page={{pg}}">{{pg}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{pg}}">{{pg}}</a></li>
        {% endif %}
        {% endfor %}
        {% if items.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{items.next_page_number}}">Next</a></li>
        {% endif %}
      </ul>
    </div>

  </div>
</div>