{% load static %}


<!-- Single Product Area -->
{% if items %}
<div class="col-12 col-sm-6 col-md-12 col-xl-6">
    <h3> Items: </h3>
</div>
<div class="col-12 col-sm-6 col-md-12 col-xl-6">

</div>
{% endif %}
{% for item in items %}
<div class="col-12 col-sm-6 col-md-12 col-xl-6">
    <div class="single-product-wrapper">
        <!-- Product Image -->
        <div class="product-img">
            <img src="{{ item.image.url }}" alt="">
            <!-- Hover Thumb 
                <img class="hover-img" src="{% static 'amado/img/product-img/product2.jpg' %}" alt="">
                -->
        </div>
        <!-- Product Image -->

        <!-- Product Description -->
        <div class="product-description d-flex align-items-center justify-content-between">
            <!-- Product Meta Data -->
            <div class="product-meta-data">
                <div class="line"></div>
                <p class="product-price">{{ item.title }}</p>
                <p class="lead">
                    <strong>
                        {% if item.discount_price  %}
                        <span class="mr-1">
                            <del> {{item.price }} ‎৳</del>
                        </span>
                        <span class="mr-1">
                            {{ item.discount_price }}‎৳
                        </span>

                        {% else %}
                        {{ item.price }}
                        {% endif %}
                    </strong>
                </p>

                <a href="{{ item.get_absolute_url }}"></a>
                    {% if item.Offer != "NA" %}
                    <h6>{{ item.Offer}} </h6>
                    {% endif %}
                </a>
                {% if item.get_size != "" %}
                <a href="{{ item.get_absolute_url }}">
                    <h6>Available Size: {{ item.get_size}} </h6>
                </a>
                {% endif %}
            </div>
            <!-- Product Meta Data -->

            <!-- Ratings & Cart -->
            <div class="ratings-cart text-right">
                <div class="ratings">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>

                {% comment %} <form class="d-flex justify-content-left">
                    <!-- Default input -->
                    <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
                    <button class="btn btn-primary btn-md my-0 p" type="submit">
                        Add to cart
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </button>

                </form> {% endcomment %}
                <div class="cart">
                    <a href="{{ item.get_add_to_cart_url }}" data-toggle="tooltip" data-placement="left"
                        title="Add {{ item.title }} to Cart">

                        <img src="{% static 'amado/img/core-img/cart.png' %}" alt="">
                    </a>
                </div>

            </div>
        </div>
        <!-- End Ratings & Cart -->

    </div>
</div>
</div>
{% endfor %}