{% load static %}

{% for item in object_list %}
<div class="single-products-catagory clearfix">
    <a href="{{ item.get_absolute_url }}">
        <img src="{{ item.photo.url }}" alt="">
        <!-- Hover Content -->
        <div class="hover-content">
            <div class="line">
                <span class="badge badge-pill badge-light">{{ item.get_shop_offer }}</span>

            </div>
            <h4>{{ item.get_category }}</h4>
            <p>{{ item.title }}</p>


        </div>
    </a>
</div>
{%endfor%}