{% if object_list_shops %}
<section>
    <div class="card w-100" style="border: transparent;">
        <div class="card-body">
          <div class="col-12" style="text-align: center; padding-top: 0%;">
            
            <div class="alert alert-warning" style="color: black;" role="alert">
                Yes! <b> Shops</b> related to <i style="color: black;">{{ search }}</i> has been found for you 
              </div>
            
          </div>
         
        </div>
      </div>
    <div class="container">
        <div class="row">

            <div class="card w-100" style="border: transparent;">
                <div class="card-body">



                    <div class="product_img">
                        {% for item in object_list_shops %}
                        <a href="{{ item.get_absolute_url }}">
                            <div class=" col-lg-3">
                                <div id="image_with_price">
                                    <img src="{{ item.photo.url }}" class="img-circle" alt="Pochonder-Shob.com">


                                   


                                    <h5 style="color:black; text-align: center; background-image: linear-gradient(to right, white);
                    ">
                                        <b>
                                            {{ item.title }}
                                        </b>
                                        <br>
                                        <span class=" mr-1" ">
                                            {{ item.area }}‎
                                        </span>

                                    </h5>
                                </div>

                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endif %}