<section>
  
    <div class="card w-100" style="border: transparent;">
        <div class="card-body">
          <div class="col-12" style="text-align: center; padding-top: 0%;">
            
            <div class="alert alert-warning" style="color: black;" role="alert">
                Suggested Products for you
              </div>
            
          </div>
         
        </div>
      </div>
    <div class="container">

        <div class="row">
            {% for item in suggestion %}
            <div class="col-10 col-sm-6 col-md-6 col-xl-3 pb-4">
                <div class="single-product-wrapper" id="product_box">
                    <!-- Product Image -->
                    <div class="product-img" style="text-align: center;">

                        <a href="{{ item.get_absolute_url }}">
                            <!-- <img src="{{ item.image.url }}" alt=""> -->
                            <div class="product_img">
                                <img id="img" src="{{ item.image.url }}" alt="">
                               
                            </div>
                            <!-- Hover Content -->
                    </div>

                    <div class="latest-product__item__text">
                        <h6>{{ item.title }} <sup>from {{item.shop}}</sup> </h6>


                        {% if item.discount_price  %}

                        <span class=" mr-1" ">
                    {{ item.discount_price }}‎BDT
                </span>
                <br>
                {% else %}
                <span class=" mr-1" ">
                    {{item.price }} ‎BDT
                </span>
                {% endif %}
            

            </div>

            </a>
        </div>
    </div>
    {% endfor %}
</div>
</div>
</section>