{% load static %}

<!-- Jquery JS-->
<script src="{% static  'shop/vendor/jquery-3.2.1.min.js' %}"></script>
<!-- Bootstrap JS-->
<script src="{% static  'shop/vendor/bootstrap-4.1/popper.min.js' %}"></script>
<script src="{% static  'shop/vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
<!-- Vendor JS       -->
<script src="{% static  'shop/vendor/slick/slick.min.js' %}">
</script>
<script src="{% static  'shop/vendor/wow/wow.min.js' %}"></script>
<script src="{% static  'shop/vendor/animsition/animsition.min.js' %}"></script>
<script src="{% static  'shop/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
</script>
<script src="{% static  'shop/vendor/counter-up/jquery.waypoints.min.js' %}"></script>
<script src="{% static  'shop/vendor/counter-up/jquery.counterup.min.js' %}">
</script>
<script src="{% static  'shop/vendor/circle-progress/circle-progress.min.js' %}"></script>
<script src="{% static  'shop/vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static  'shop/vendor/chartjs/Chart.bundle.min.js' %}"></script>
<script src="{% static  'shop/vendor/select2/select2.min.js' %}">
</script>

<!-- Main JS-->
<script src="{% static  'shop/js/main.js' %}"></script>